@using PGTManagement.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PGT Management</title>

    <link rel="icon" href="@Url.Content("~/images/favicon.ico")" />

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <environment names="Development">
        <link rel="stylesheet" href="~/lib_bower/bootstrap/dist/css/bootstrap.css" />
        <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib_bower/metisMenu/dist/metisMenu.css" />
        <link href="~/css/plugins/steps/jquery.steps.css" rel="stylesheet">
        <link href="~/css/plugins/select2/select2.min.css" rel="stylesheet">
        <link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
        <link href="~/lib_bower/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
        <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib_bower/bootstrap/dist/css/bootstrap.css" />
        <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib_bower/metisMenu/dist/metisMenu.css" />
        <link href="~/css/plugins/select2/select2.min.css" rel="stylesheet">
        <link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
        <link href="~/css/plugins/steps/jquery.steps.css" rel="stylesheet">
        <link href="~/lib_bower/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
        <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    </environment>

</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper" class="@Html.PageClass()">
        <!-- Navigation -->
        <partial name="_Navigation" />
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            <!-- Top Navbar -->
            <partial name="_TopNavbar" />
            <!-- Main view  -->
            @RenderBody()
            <!-- Footer -->
            <partial name="_Footer" />
        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->
    <environment names="Development">
        <script src="~/lib_bower/jquery/dist/jquery.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/lib_bower/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib_bower/metisMenu/dist/metisMenu.js"></script>
        <script src="~/lib_bower/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib_bower/pace/pace.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/plugins/steps/jquery.steps.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
        <!-- Select2 -->
        <script src="~/js/plugins/select2/select2.full.min.js"></script>
        <script src="~/lib_bower/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/js/plugins/dataTables/datatables.min.js"></script>
        <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

        <script src="~/js/plugins/iCheck/icheck.min.js"></script>
        <script src="~/js/plugins/steps/jquery.steps.min.js"></script>
        <script src="~/js/plugins/mask/jquery.mask.js"></script>
        <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
        <script src="~/js/plugins/datapicker/ptBR.js"></script>
        <script src="~/js/plugins/moment/moment.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib_bower/jquery/dist/jquery.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/lib_bower/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib_bower/metisMenu/dist/metisMenu.js"></script>
        <script src="~/lib_bower/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib_bower/pace/pace.js"></script>
        <script src="~/js/script.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
        <!-- Select2 -->
        <script src="~/js/plugins/select2/select2.full.min.js"></script>
        <script src="~/lib_bower/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/js/plugins/dataTables/datatables.min.js"></script>
        <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

        <script src="~/js/plugins/steps/jquery.steps.min.js"></script>
        <script src="~/js/plugins/mask/jquery.mask.js"></script>
        <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
        <script src="~/js/plugins/moment/moment.js"></script>

    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>